In [2]:
import pandas as pd

In [8]:
df_batches = pd.read_csv("../production_data/raw_data_dump/batches.csv")
df_batches.head(2)

,_id,uploaded_by,company_id,batch_id,batch_name,upload_count,job_id,status,start_time,end_time,type
0,6822eb6f6342bdaa117239be,6822e2f56342bdaa117239b8,6822e3346342bdaa117239ba,b'm\x18]v\xf2>Rv\x867C\x03\xf9I\xb7\xa8',Batch - SIS 1,10.0,6822eaf56342bdaa117239bd,completed,2025-05-13 06:49:19.226,2025-05-13 06:52:00.161,NaN
1,6822f3e46342bdaa117239c7,6822e2f56342bdaa117239b8,6822e3346342bdaa117239ba,b'\xc9\xe1\x1e\x13W\x95Ud\x89\x00\xdf\xd2\x01\...,Batch - 2,1.0,6822eaf56342bdaa117239bd,completed,2025-05-13 07:25:24.299,2025-05-13 07:25:43.542,NaN

In [9]:
df_batches.columns

Index(['_id', 'uploaded_by', 'company_id', 'batch_id', 'batch_name',
       'upload_count', 'job_id', 'status', 'start_time', 'end_time', 'type'],
      dtype='object')