In [1]:
import pandas as pd

In [2]:
df_companies = pd.read_csv("../production_data/raw_data_dump/companies.csv")
df_companies.head(2)

,_id,name,organization_size,company_type,created_at,updated_at,is_deleted
0,681c861b1cf44d32fe03095e,Klizo Solutions,11-50,corporation,2025-05-08 10:23:23.615,2025-05-08 10:23:23.615,False
1,681c86b51cf44d32fe030963,Vietnam Australia International School,200+,corporation,2025-05-08 10:25:57.981,2025-05-08 10:25:57.981,False

In [3]:
df_companies.columns

Index(['_id', 'name', 'organization_size', 'company_type', 'created_at',
       'updated_at', 'is_deleted'],
      dtype='object')