In [1]:
import pandas as pd

In [3]:
df_users = pd.read_csv("../production_data/raw_data_dump/users.csv")
df_users.head(2)

,_id,firstname,lastname,email,password,created_at,updated_at,phone,job_role,status,...,account_state,auth_methods,google_id,social_mode,profile_pic_url,token_usage.gpt-4o-mini.input_token,token_usage.gpt-4o-mini.output_token,deleted,expireAt,linkedin_id
0,6818f8b61ec8f4553059c408,Subhadeep,Banerjee,subhadeep@klizos.com,$2b$12$LLaZuBdx5PILWNBn4O4t7OrS58VlQHHW0x69TeF...,2025-05-05 17:43:18.484,2025-06-10 16:54:25.485,NaN,Lead Software Engineer,active,...,manual_google,"['manual', 'google']",106786127312041139932,google,https://talentsync-production.s3.us-east-2.ama...,1667.0,965.0,NaN,NaN,NaN
1,6818f9461ec8f4553059c40c,Joseph,Ricard,joey@klizos.com,$2b$12$AVyPehV2O5S6mPDcq10DJelhTUERQXHS7T4Wj.i...,2025-05-05 17:45:42.541,2025-05-29 13:51:08.435,19546040324,NaN,active,...,manual_google,"['manual', 'google']",110863197786455303728,google,NaN,1098932.0,346911.0,NaN,NaN,NaN

In [4]:
df_users.columns

Index(['_id', 'firstname', 'lastname', 'email', 'password', 'created_at',
       'updated_at', 'phone', 'job_role', 'status', 'role', 'company_id',
       'social', 'account_state', 'auth_methods', 'google_id', 'social_mode',
       'profile_pic_url', 'token_usage.gpt-4o-mini.input_token',
       'token_usage.gpt-4o-mini.output_token', 'deleted', 'expireAt',
       'linkedin_id'],
      dtype='object')