In [1]:
import pandas as pd
pd.set_option("display.max_column", None)

In [ ]:
df = pd.read_csv("../../production_data/raw_data_dump/auth_keys.csv")
df.sample(2)

,_id,api_key_encrypted,company_id,created_at,updated_at,type,name,description,user_id,key_length,is_active,revoked_at
23,684092c320ea20e4aca311a7,vjQjH3GJ3UT8pGlZrQ2YXdw/+XXZHlaomWu17lZ2bMOyQS...,684092c320ea20e4aca311a5,2025-06-04 18:38:59.845,2025-06-04 18:38:59.845,company_external,NaN,NaN,NaN,NaN,NaN,NaN
8,682475961b85c2b6f71a5bac,0yiS1n45lQe4NOdVg/n5P8KQojHhE1FenOmjEALHPxcSPq...,682475961b85c2b6f71a5baa,2025-05-14 10:51:02.955,2025-05-14 10:51:02.955,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print("shape: ", df.shape)
print("Columns: ", df.columns)

shape:  (41, 12)
Columns:  Index(['_id', 'api_key_encrypted', 'company_id', 'created_at', 'updated_at',
       'type', 'name', 'description', 'user_id', 'key_length', 'is_active',
       'revoked_at'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                41 non-null     object
 1   api_key_encrypted  41 non-null     object
 2   company_id         41 non-null     object
 3   created_at         41 non-null     object
 4   updated_at         41 non-null     object
 5   type               30 non-null     object
 6   name               14 non-null     object
 7   description        8 non-null      object
 8   user_id            14 non-null     object
 9   key_length         8 non-null      float64
 10  is_active          8 non-null      object
 11  revoked_at         3 non-null      object
dtypes: float64(1), object(11)
memory usage: 4.0+ KB