In [4]:
import pandas as pd
pd.set_option("display.max_column", None)

In [5]:
df = pd.read_csv("../../production_data/raw_data_dump/candidates_errors.csv")
df.sample(2)

,_id,error,cv_directory_link,batch_id,job_id,company_id,created_at,updated_at,cv_path
241,68400dc7b72469b8444e4378,too many values to unpack (expected 2),CVs/3a54545e,b'G\x7f\x9a\xd8| ^\x8f\x84\xc3\x93\x96\xf8L\xc87',683fff3ab72469b8444e4332,683ffda7b72469b8444e4328,2025-06-04 09:09:08.058,2025-06-04 09:09:08.058,._Thanh Lu (Brandon) Resume_1749028103.977617.pdf
84,6822f7676342bdaa11723a20,too many values to unpack (expected 2),CVs/5cda1f78,b'.\x95\xe2\x8f(W^\xd6\xb7dM\xd3bs\x04\xd2',6822eaf56342bdaa117239bd,6822e3346342bdaa117239ba,2025-05-13 07:37:46.224,2025-05-13 07:37:46.224,NaN

In [6]:
print("shape: ", df.shape)
print("Columns: ", df.columns)

shape:  (368, 9)
Columns:  Index(['_id', 'error', 'cv_directory_link', 'batch_id', 'job_id', 'company_id',
       'created_at', 'updated_at', 'cv_path'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                368 non-null    object
 1   error              368 non-null    object
 2   cv_directory_link  368 non-null    object
 3   batch_id           368 non-null    object
 4   job_id             368 non-null    object
 5   company_id         368 non-null    object
 6   created_at         368 non-null    object
 7   updated_at         368 non-null    object
 8   cv_path            278 non-null    object
dtypes: object(9)
memory usage: 26.0+ KB