In [4]:
import pandas as pd
pd.set_option("display.max_column", None)

In [5]:
df = pd.read_csv("../../production_data/raw_data_dump/companies.csv")
df.sample(2)

,_id,name,organization_size,company_type,created_at,updated_at,is_deleted
13,683ee19fb72469b8444e42f8,F comany,51-200,enterprise,2025-06-03 11:50:55.490,2025-06-03 11:50:55.490,False
16,6840848da060d5257c9c3d62,Demo Company 2,11-50,corporation,2025-06-04 17:38:21.026,2025-06-04 17:38:21.026,False

In [6]:
print("shape: ", df.shape)
print("Columns: ", df.columns)

shape:  (33, 7)
Columns:  Index(['_id', 'name', 'organization_size', 'company_type', 'created_at',
       'updated_at', 'is_deleted'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                33 non-null     object
 1   name               33 non-null     object
 2   organization_size  33 non-null     object
 3   company_type       33 non-null     object
 4   created_at         33 non-null     object
 5   updated_at         33 non-null     object
 6   is_deleted         33 non-null     bool
dtypes: bool(1), object(6)
memory usage: 1.7+ KB