In [4]:
import pandas as pd
pd.set_option("display.max_column", None)

In [5]:
df = pd.read_csv("../../production_data/raw_data_dump/messages.csv")
df.sample(2)

,_id,content,message_type,sender_id,recipient_id,company_id,created_at,status,read,metadata.type,metadata.batch.id,metadata.batch.name,metadata.job.id,metadata.job.title,metadata.timestamp
2,684bf9b6c939b52e8b71abde,Batch '121' has been processed successfully.,notification,684bf129c939b52e8b71abd6,NaN,681c861b1cf44d32fe03095e,2025-06-13 10:13:10.171,sent,False,batch_processing_complete,426a07d1-97be-5f05-a333-2e80cc661218,121,68493685eabd1dae68df08ac,Front Desk Executive,2025-06-13T10:13:10.171378+00:00
8,684fedf9c939b52e8b71accc,Batch '250' has been processed successfully.,notification,684bf09bc939b52e8b71abd4,NaN,681c861b1cf44d32fe03095e,2025-06-16 10:12:09.731,sent,False,batch_processing_complete,68cd7b3c-a90b-55b3-aab9-59b385ef2231,250,6849372ceabd1dae68df08ad,NodeJS Developer,2025-06-16T10:12:09.731446+00:00

In [6]:
print("shape: ", df.shape)
print("Columns: ", df.columns)

shape:  (42, 15)
Columns:  Index(['_id', 'content', 'message_type', 'sender_id', 'recipient_id',
       'company_id', 'created_at', 'status', 'read', 'metadata.type',
       'metadata.batch.id', 'metadata.batch.name', 'metadata.job.id',
       'metadata.job.title', 'metadata.timestamp'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  42 non-null     object
 1   content              42 non-null     object
 2   message_type         42 non-null     object
 3   sender_id            42 non-null     object
 4   recipient_id         0 non-null      float64
 5   company_id           42 non-null     object
 6   created_at           42 non-null     object
 7   status               42 non-null     object
 8   read                 42 non-null     bool
 9   metadata.type        42 non-null     object
 10  metadata.batch.id    42 non-null     object
 11  metadata.batch.name  42 non-null     object
 12  metadata.job.id      42 non-null     object
 13  metadata.job.title   42 non-null     object
 14  metadata.timestamp   42 non-null     object
dtypes: bool(1), float64(1), object(13)
memory usage: 4.8+ KB