In [4]:
import pandas as pd
pd.set_option("display.max_column", None)

In [5]:
df = pd.read_csv("../../production_data/raw_data_dump/questions.csv")
df.sample(2)

,_id,priority,job_id,company_id,question,follow_up_count,created_at,updated_at,position,question.question,question_type,questions
446,684ea958c939b52e8b71ac3f,NaN,NaN,684ea957c939b52e8b71ac3c,NaN,NaN,2025-06-15 11:07:04.153,2025-06-15 11:07:04.153,2.0,NaN,Fresher,"['Are you currently receiving a stipend?', 'Wh..."
471,684eaba2c939b52e8b71ac5a,NaN,684eab62c939b52e8b71ac41,684ea957c939b52e8b71ac3c,What is your experience with integrating third...,1.0,2025-06-15 11:16:50.708,2025-06-15 11:17:01.104,25.0,NaN,Technical,NaN

In [6]:
print("shape: ", df.shape)
print("Columns: ", df.columns)

shape:  (548, 12)
Columns:  Index(['_id', 'priority', 'job_id', 'company_id', 'question',
       'follow_up_count', 'created_at', 'updated_at', 'position',
       'question.question', 'question_type', 'questions'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548 entries, 0 to 547
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                548 non-null    object
 1   priority           283 non-null    float64
 2   job_id             482 non-null    object
 3   company_id         548 non-null    object
 4   question           479 non-null    object
 5   follow_up_count    482 non-null    float64
 6   created_at         548 non-null    object
 7   updated_at         548 non-null    object
 8   position           547 non-null    float64
 9   question.question  3 non-null      object
 10  question_type      363 non-null    object
 11  questions          66 non-null     object
dtypes: float64(3), object(9)
memory usage: 51.5+ KB