In [8]:
import pandas as pd
pd.set_option("display.max_column", None)

In [9]:
df = pd.read_csv("../../production_data/raw_data_dump/users.csv")
df.sample(2)

,_id,firstname,lastname,email,password,created_at,updated_at,phone,job_role,status,role,company_id,social,account_state,auth_methods,google_id,social_mode,profile_pic_url,token_usage.gpt-4o-mini.input_token,token_usage.gpt-4o-mini.output_token,deleted,expireAt,linkedin_id
76,684ae5ee2719cd46c108060b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1291.0,466.0,NaN,NaN,NaN
35,68307b2d0582447f62edadd5,Rahul,QA,rahul.k+qa@klizos.com,$2b$12$nLt98zIBg8.QRTjpnZ0s9eNxx2MrSpz8cFZvHw5...,2025-05-23 13:42:05.110,2025-05-23 13:42:13.580,NaN,QA,active,owner,68307b590582447f62edadd8,False,manual_only,['manual'],NaN,NaN,NaN,13050.0,5562.0,NaN,NaN,NaN

In [10]:
print("shape: ", df.shape)
print("Columns: ", df.columns)

shape:  (178, 23)
Columns:  Index(['_id', 'firstname', 'lastname', 'email', 'password', 'created_at',
       'updated_at', 'phone', 'job_role', 'status', 'role', 'company_id',
       'social', 'account_state', 'auth_methods', 'google_id', 'social_mode',
       'profile_pic_url', 'token_usage.gpt-4o-mini.input_token',
       'token_usage.gpt-4o-mini.output_token', 'deleted', 'expireAt',
       'linkedin_id'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   _id                                   178 non-null    object
 1   firstname                             88 non-null     object
 2   lastname                              87 non-null     object
 3   email                                 88 non-null     object
 4   password                              73 non-null     object
 5   created_at                            88 non-null     object
 6   updated_at                            88 non-null     object
 7   phone                                 17 non-null     object
 8   job_role                              35 non-null     object
 9   status                                88 non-null     object
 10  role                                  88 non-null     object
 11  company_id                            68 non-null     object
 12  social                                87 non-null     object
 13  account_state                         88 non-null     object
 14  auth_methods                          88 non-null     object
 15  google_id                             12 non-null     object
 16  social_mode                           13 non-null     object
 17  profile_pic_url                       13 non-null     object
 18  token_usage.gpt-4o-mini.input_token   130 non-null    float64
 19  token_usage.gpt-4o-mini.output_token  130 non-null    float64
 20  deleted                               14 non-null     object
 21  expireAt                              9 non-null      object
 22  linkedin_id                           1 non-null      object
dtypes: float64(2), object(21)
memory usage: 32.1+ KB