In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\anaconda\lib\site-packages (4.13.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\anaconda\lib\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import pandas as pd
pd.set_option("display.max_column", None)

from pymongo import MongoClient
from bson import json_util
import json

mongo_url = "mongodb://padma:d6g5h1dh18dh1d6h81fd86d1UBFIfguifd@3.146.176.180:27017/talentsync-backend-production"
client = MongoClient(mongo_url)
print("Python-MongoDB connection created succesfully -\n", client)

Python-MongoDB connection created succesfully -
 MongoClient(host=['3.146.176.180:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
db = client['talentsync-backend-production']
collection_names = db.list_collection_names()
print(collection_names)

['candidate_questions', 'job_hr_questions', 'candidates', 'auth_keys', 'jobs', 'job_hr_settings', 'batches', 'questions', 'candidates_errors', 'users', 'companies', 'messages', 'auth_tokens']

In [4]:
collection = db['companies']
results = collection.find()
print(results)

<pymongo.synchronous.cursor.Cursor object at 0x000001BD34B13830>

In [5]:
collection = db['companies']
results = collection.find()
for doc in results:
    print(doc)

{'_id': ObjectId('681c861b1cf44d32fe03095e'), 'name': 'Klizo Solutions', 'organization_size': '11-50', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 5, 8, 10, 23, 23, 615000), 'updated_at': datetime.datetime(2025, 5, 8, 10, 23, 23, 615000), 'is_deleted': False}
{'_id': ObjectId('681c86b51cf44d32fe030963'), 'name': 'Vietnam Australia International School', 'organization_size': '200+', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 5, 8, 10, 25, 57, 981000), 'updated_at': datetime.datetime(2025, 5, 8, 10, 25, 57, 981000), 'is_deleted': False}
{'_id': ObjectId('681c872f1cf44d32fe03096d'), 'name': 'Esco Beach', 'organization_size': '51-200', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 5, 8, 10, 27, 59, 721000), 'updated_at': datetime.datetime(2025, 5, 8, 10, 27, 59, 721000), 'is_deleted': False}
{'_id': ObjectId('682200046342bdaa11723975'), 'name': 'Furarma Resort Danang', 'organization_size': '200+', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 5, 12, 14, 4, 52, 549000), 'updated_at': datetime.datetime(2025, 5, 12, 14, 4, 52, 549000), 'is_deleted': False}
{'_id': ObjectId('682200936342bdaa1172397a'), 'name': 'Furama Resort Da Nang', 'organization_size': '200+', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 5, 12, 14, 7, 15, 794000), 'updated_at': datetime.datetime(2025, 5, 12, 14, 7, 15, 794000), 'is_deleted': False}
{'_id': ObjectId('6822e3346342bdaa117239ba'), 'name': 'Singapore Internation School', 'organization_size': '200+', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 5, 13, 6, 14, 12, 395000), 'updated_at': datetime.datetime(2025, 5, 13, 6, 14, 12, 395000), 'is_deleted': False}
{'_id': ObjectId('68243b106342bdaa11723a5d'), 'name': 'Production Company', 'organization_size': '51-200', 'company_type': 'small-business', 'created_at': datetime.datetime(2025, 5, 14, 6, 41, 20, 926000), 'updated_at': datetime.datetime(2025, 5, 14, 6, 41, 20, 926000), 'is_deleted': False}
{'_id': ObjectId('682472001b85c2b6f71a5ba5'), 'name': 'Demo Company', 'organization_size': '11-50', 'company_type': 'small-business', 'created_at': datetime.datetime(2025, 5, 14, 10, 35, 44, 315000), 'updated_at': datetime.datetime(2025, 5, 14, 10, 35, 44, 315000), 'is_deleted': False}
{'_id': ObjectId('682475961b85c2b6f71a5baa'), 'name': 'QA_Company', 'organization_size': '51-200', 'company_type': 'startup', 'created_at': datetime.datetime(2025, 5, 14, 10, 51, 2, 893000), 'updated_at': datetime.datetime(2025, 5, 14, 10, 51, 2, 893000), 'is_deleted': False}
{'_id': ObjectId('68259b511b85c2b6f71a5bdf'), 'name': 'Bunny House', 'organization_size': '1-10', 'company_type': 'manufacturing', 'created_at': datetime.datetime(2025, 5, 15, 7, 44, 17, 712000), 'updated_at': datetime.datetime(2025, 5, 15, 7, 44, 17, 712000), 'is_deleted': False}
{'_id': ObjectId('68307b590582447f62edadd8'), 'name': 'Klizo QA', 'organization_size': '51-200', 'company_type': 'ecommerce', 'created_at': datetime.datetime(2025, 5, 23, 13, 42, 49, 356000), 'updated_at': datetime.datetime(2025, 5, 23, 13, 42, 49, 356000), 'is_deleted': False}
{'_id': ObjectId('6835e66bc165a9e593e1ebb1'), 'name': 'ESCO Beach Vietnam', 'organization_size': '51-200', 'company_type': 'consulting', 'created_at': datetime.datetime(2025, 5, 27, 16, 20, 59, 904000), 'updated_at': datetime.datetime(2025, 5, 27, 16, 20, 59, 904000), 'is_deleted': False}
{'_id': ObjectId('683dc273b72469b8444e42e0'), 'name': 'Show Me', 'organization_size': '200+', 'company_type': 'freelance', 'created_at': datetime.datetime(2025, 6, 2, 15, 25, 39, 45000), 'updated_at': datetime.datetime(2025, 6, 2, 15, 25, 39, 45000), 'is_deleted': False}
{'_id': ObjectId('683ee19fb72469b8444e42f8'), 'name': 'F comany', 'organization_size': '51-200', 'company_type': 'enterprise', 'created_at': datetime.datetime(2025, 6, 3, 11, 50, 55, 490000), 'updated_at': datetime.datetime(2025, 6, 3, 11, 50, 55, 490000), 'is_deleted': False}
{'_id': ObjectId('683eec13b72469b8444e4317'), 'name': 'Test', 'organization_size': '200+', 'company_type': 'manufacturing', 'created_at': datetime.datetime(2025, 6, 3, 12, 35, 31, 377000), 'updated_at': datetime.datetime(2025, 6, 3, 12, 35, 31, 377000), 'is_deleted': False}
{'_id': ObjectId('683ffda7b72469b8444e4328'), 'name': 'Apollo English Vietnam', 'organization_size': '200+', 'company_type': 'enterprise', 'created_at': datetime.datetime(2025, 6, 4, 8, 2, 47, 555000), 'updated_at': datetime.datetime(2025, 6, 4, 8, 2, 47, 555000), 'is_deleted': False}
{'_id': ObjectId('6840848da060d5257c9c3d62'), 'name': 'Demo Company 2', 'organization_size': '11-50', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 6, 4, 17, 38, 21, 26000), 'updated_at': datetime.datetime(2025, 6, 4, 17, 38, 21, 26000), 'is_deleted': False}
{'_id': ObjectId('6840858aa060d5257c9c3d6d'), 'name': 'Quality Analyst Company', 'organization_size': '51-200', 'company_type': 'startup', 'created_at': datetime.datetime(2025, 6, 4, 17, 42, 34, 68000), 'updated_at': datetime.datetime(2025, 6, 4, 17, 42, 34, 68000), 'is_deleted': False}
{'_id': ObjectId('68408808a060d5257c9c3d7b'), 'name': 'In magna dolore temp', 'organization_size': '51-200', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 6, 4, 17, 53, 12, 684000), 'updated_at': datetime.datetime(2025, 6, 4, 17, 53, 12, 684000), 'is_deleted': False}
{'_id': ObjectId('684088d2a060d5257c9c3d88'), 'name': 'Demo Company 3', 'organization_size': '1-10', 'company_type': 'non-profit', 'created_at': datetime.datetime(2025, 6, 4, 17, 56, 34, 252000), 'updated_at': datetime.datetime(2025, 6, 4, 17, 56, 34, 252000), 'is_deleted': False}
{'_id': ObjectId('684092c320ea20e4aca311a5'), 'name': 'Demo Company 4', 'organization_size': '1-10', 'company_type': 'small-business', 'created_at': datetime.datetime(2025, 6, 4, 18, 38, 59, 372000), 'updated_at': datetime.datetime(2025, 6, 4, 18, 38, 59, 372000), 'is_deleted': False}
{'_id': ObjectId('6841464320ea20e4aca31285'), 'name': 'Ad officia sed velit', 'organization_size': '11-50', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 6, 5, 7, 24, 51, 277000), 'updated_at': datetime.datetime(2025, 6, 5, 7, 24, 51, 277000), 'is_deleted': False}
{'_id': ObjectId('684401e7eabd1dae68df0848'), 'name': 'Einstein Tech', 'organization_size': '1-10', 'company_type': 'startup', 'created_at': datetime.datetime(2025, 6, 7, 9, 9, 59, 12000), 'updated_at': datetime.datetime(2025, 6, 7, 9, 9, 59, 12000), 'is_deleted': False}
{'_id': ObjectId('6847eaa9eabd1dae68df0868'), 'name': 'Demo Company Kolkata', 'organization_size': '1-10', 'company_type': 'startup', 'created_at': datetime.datetime(2025, 6, 10, 8, 19, 53, 613000), 'updated_at': datetime.datetime(2025, 6, 10, 8, 19, 53, 613000), 'is_deleted': False}
{'_id': ObjectId('6847eadbeabd1dae68df086b'), 'name': 'New Company Names', 'organization_size': '11-50', 'company_type': 'enterprise', 'created_at': datetime.datetime(2025, 6, 10, 8, 20, 43, 58000), 'updated_at': datetime.datetime(2025, 6, 10, 8, 20, 43, 58000), 'is_deleted': False}
{'_id': ObjectId('6847f945eabd1dae68df0873'), 'name': 'Testuikji87k6j7i', 'organization_size': '200+', 'company_type': 'enterprise', 'created_at': datetime.datetime(2025, 6, 10, 9, 22, 13, 284000), 'updated_at': datetime.datetime(2025, 6, 10, 9, 22, 13, 284000), 'is_deleted': False}
{'_id': ObjectId('68496fd9eabd1dae68df08b3'), 'name': 'Klizo Solutions2', 'organization_size': '51-200', 'company_type': 'startup', 'created_at': datetime.datetime(2025, 6, 11, 12, 0, 25, 925000), 'updated_at': datetime.datetime(2025, 6, 11, 12, 0, 25, 925000), 'is_deleted': False}
{'_id': ObjectId('684af30dc939b52e8b71ab6d'), 'name': 'Klizo', 'organization_size': '1-10', 'company_type': 'startup', 'created_at': datetime.datetime(2025, 6, 12, 15, 32, 29, 219000), 'updated_at': datetime.datetime(2025, 6, 12, 15, 32, 29, 219000), 'is_deleted': False}
{'_id': ObjectId('684af483c939b52e8b71ab72'), 'name': 'Test Company', 'organization_size': '200+', 'company_type': 'manufacturing', 'created_at': datetime.datetime(2025, 6, 12, 15, 38, 43, 959000), 'updated_at': datetime.datetime(2025, 6, 12, 15, 38, 43, 959000), 'is_deleted': False}
{'_id': ObjectId('684bb3a5c939b52e8b71abaa'), 'name': 'Testing', 'organization_size': '200+', 'company_type': 'manufacturing', 'created_at': datetime.datetime(2025, 6, 13, 5, 14, 13, 535000), 'updated_at': datetime.datetime(2025, 6, 13, 5, 14, 13, 535000), 'is_deleted': False}
{'_id': ObjectId('684c0926c939b52e8b71abe7'), 'name': "Rooj's Company", 'organization_size': '200+', 'company_type': 'enterprise', 'created_at': datetime.datetime(2025, 6, 13, 11, 19, 2, 951000), 'updated_at': datetime.datetime(2025, 6, 13, 11, 19, 2, 951000), 'is_deleted': False}
{'_id': ObjectId('684ea957c939b52e8b71ac3c'), 'name': 'Veniam at illum vo', 'organization_size': '11-50', 'company_type': 'manufacturing', 'created_at': datetime.datetime(2025, 6, 15, 11, 7, 3, 616000), 'updated_at': datetime.datetime(2025, 6, 15, 11, 7, 3, 616000), 'is_deleted': False}
{'_id': ObjectId('68513789c939b52e8b71ad05'), 'name': 'internal-company', 'organization_size': '1-10', 'company_type': 'small-business', 'created_at': datetime.datetime(2025, 6, 17, 9, 38, 17, 624000), 'updated_at': datetime.datetime(2025, 6, 17, 9, 38, 17, 624000), 'is_deleted': False}

In [6]:
collection = db['companies']
result = collection.find_one()
print(result)

{'_id': ObjectId('681c861b1cf44d32fe03095e'), 'name': 'Klizo Solutions', 'organization_size': '11-50', 'company_type': 'corporation', 'created_at': datetime.datetime(2025, 5, 8, 10, 23, 23, 615000), 'updated_at': datetime.datetime(2025, 5, 8, 10, 23, 23, 615000), 'is_deleted': False}

In [7]:
collection = db['companies']
result = collection.find_one()
print(json.dumps(result, indent=4, default=json_util.default))

{
    "_id": {
        "$oid": "681c861b1cf44d32fe03095e"
    },
    "name": "Klizo Solutions",
    "organization_size": "11-50",
    "company_type": "corporation",
    "created_at": {
        "$date": "2025-05-08T10:23:23.615Z"
    },
    "updated_at": {
        "$date": "2025-05-08T10:23:23.615Z"
    },
    "is_deleted": false
}

In [8]:
# df['is_deleted'].value_counts()

In [9]:
query = [
    {
        "$group": {
            "_id": "$organization_size",
            "count": {"$sum": 1}
        }
    }
]

result = collection.aggregate(query)

for doc in result:
    print(f"{doc['_id']}: {doc['count']}")

200+: 11
11-50: 6
51-200: 9
1-10: 7

In [10]:
query = [
    {
        "$group":{
            "_id": "$company_type",
            "count": {"$sum": 1}
        }
    }
]

result = collection.aggregate(query)

for doc in result:
    print(f"{doc['_id']}: {doc['count']}")

small-business: 4
startup: 6
freelance: 1
consulting: 1
non-profit: 1
manufacturing: 5
corporation: 9
enterprise: 5
ecommerce: 1

In [11]:
query = [
    {
        "$group": {
            "_id": "$is_deleted",
            "count": {"$sum": 1}
        }
    }
]

result = collection.aggregate(query)

for doc in result:
    print(f"{doc['_id']}: {doc['count']}")

False: 33

In [ ]:
# df[['name']].count()

In [13]:
query = [
    {
        "$match":{
            "name": {"$exists": True, "$ne": None}
        }
    },
    {
        "$count": "company_count"
    }
]

result = list(collection.aggregate(query))
print(result)

[{'company_count': 33}]

In [14]:
query = [
    {
        "$match":{
            "name": {"$exists": True, "$ne": None}
        }
    },
    {
        "$count": "company_count"
    }
]

result = list(collection.aggregate(query))
print(result[0])

{'company_count': 33}

In [ ]:
query = [
    {
        "$match": {
            "name": { "$exists": True, "$ne": None }
        }
    },
    {
        "$count": "name_count"
    }
]

result = list(collection.aggregate(query))
print(result[0]['name_count'] if result else 0)

33

In [ ]:
# df[['name']]

In [ ]:
query = {"name":1}
results = collection.find({}, query)
for doc in results:
    print(doc)

In [ ]:
query = {"name": 1, "_id": 0}
results = collection.find({}, query)
for doc in results:
    print(doc)

{'name': 'Klizo Solutions'}
{'name': 'Vietnam Australia International School'}
{'name': 'Esco Beach'}
{'name': 'Furarma Resort Danang'}
{'name': 'Furama Resort Da Nang'}
{'name': 'Singapore Internation School'}
{'name': 'Production Company'}
{'name': 'Demo Company'}
{'name': 'QA_Company'}
{'name': 'Bunny House'}
{'name': 'Klizo QA'}
{'name': 'ESCO Beach Vietnam'}
{'name': 'Show Me'}
{'name': 'F comany'}
{'name': 'Test'}
{'name': 'Apollo English Vietnam'}
{'name': 'Demo Company 2'}
{'name': 'Quality Analyst Company'}
{'name': 'In magna dolore temp'}
{'name': 'Demo Company 3'}
{'name': 'Demo Company 4'}
{'name': 'Ad officia sed velit'}
{'name': 'Einstein Tech'}
{'name': 'Demo Company Kolkata'}
{'name': 'New Company Names'}
{'name': 'Testuikji87k6j7i'}
{'name': 'Klizo Solutions2'}
{'name': 'Klizo'}
{'name': 'Test Company'}
{'name': 'Testing'}
{'name': "Rooj's Company"}
{'name': 'Veniam at illum vo'}
{'name': 'internal-company'}

In [ ]:
# filtered_df = df[df['organization_size'] == '11-50'][['name']]

In [20]:
filter_expression = {"organization_size": "11-50"}
projection = {"name": 1, "_id": 0}

results = collection.find(filter_expression, projection)

for doc in results:
    print(doc)

{'name': 'Klizo Solutions'}
{'name': 'Demo Company'}
{'name': 'Demo Company 2'}
{'name': 'Ad officia sed velit'}
{'name': 'New Company Names'}
{'name': 'Veniam at illum vo'}

In [21]:
cursor = collection.find(
    {"organization_size": "11-50"},  
    {"name": 1, "_id": 0}            
)

for doc in cursor:
    print(doc)

{'name': 'Klizo Solutions'}
{'name': 'Demo Company'}
{'name': 'Demo Company 2'}
{'name': 'Ad officia sed velit'}
{'name': 'New Company Names'}
{'name': 'Veniam at illum vo'}

In [22]:
query = [
    {
        "$match": {
            "organization_size": "11-50",
            "name": { "$exists": True, "$ne": None }
        }
    },
    {
        "$project": {
            "_id": 0,
            "name": 1
        }
    }
]

result = list(collection.aggregate(query))
for doc in result:
    print(doc)

{'name': 'Klizo Solutions'}
{'name': 'Demo Company'}
{'name': 'Demo Company 2'}
{'name': 'Ad officia sed velit'}
{'name': 'New Company Names'}
{'name': 'Veniam at illum vo'}

In [ ]:
# filtered_df = df[df['organization_size'] == '11-50'][['name', 'company_type']]

In [23]:
query = [
    {
        "$match": {
            "organization_size": "11-50",
            "name": { "$exists": True, "$ne": None }
        }
    },
    {
        "$project": {
            "_id": 0,
            "name": 1,
            "company_type": 1
        }
    }
]

result = list(collection.aggregate(query))
for doc in result:
    print(doc)

{'name': 'Klizo Solutions', 'company_type': 'corporation'}
{'name': 'Demo Company', 'company_type': 'small-business'}
{'name': 'Demo Company 2', 'company_type': 'corporation'}
{'name': 'Ad officia sed velit', 'company_type': 'corporation'}
{'name': 'New Company Names', 'company_type': 'enterprise'}
{'name': 'Veniam at illum vo', 'company_type': 'manufacturing'}

In [ ]:
# SELECT organization_size, name FROM df GROUP BY organization_size ORDER BY name DESC

# df_sorted = df.sort_values(by='name', ascending=False)
# df_grouped = df_sorted.groupby('organization_size').first().reset_index()
# df_result = df_grouped[['organization_size', 'name']]

In [24]:
query = [
    {
        "$sort": {
            "name": -1  
        }
    },
    {
        "$group": {
            "_id": "$organization_size",
            "name": { "$first": "$name" }
        }
    },
    {
        "$project": {
            "organization_size": "$_id",
            "name": 1,
            "_id": 0
        }
    }
]

result = list(collection.aggregate(query))
for doc in result:
    print(doc)

{'name': 'internal-company', 'organization_size': '1-10'}
{'name': 'Vietnam Australia International School', 'organization_size': '200+'}
{'name': 'Quality Analyst Company', 'organization_size': '51-200'}
{'name': 'Veniam at illum vo', 'organization_size': '11-50'}

In [ ]:
# df_result = df[['organization_size', 'name']].sort_values(by='organization_size', ascending=False)

In [25]:
query = [
    {
        "$project": {
            "organization_size": 1,
            "name": 1,
            "_id": 0
        }
    },
    {
        "$sort": {
            "organization_size": -1 
        }
    }
]

result = list(collection.aggregate(query))
for doc in result:
    print(doc)

{'name': 'Esco Beach', 'organization_size': '51-200'}
{'name': 'Klizo Solutions2', 'organization_size': '51-200'}
{'name': 'In magna dolore temp', 'organization_size': '51-200'}
{'name': 'Production Company', 'organization_size': '51-200'}
{'name': 'Quality Analyst Company', 'organization_size': '51-200'}
{'name': 'QA_Company', 'organization_size': '51-200'}
{'name': 'Klizo QA', 'organization_size': '51-200'}
{'name': 'ESCO Beach Vietnam', 'organization_size': '51-200'}
{'name': 'F comany', 'organization_size': '51-200'}
{'name': 'Vietnam Australia International School', 'organization_size': '200+'}
{'name': 'Testuikji87k6j7i', 'organization_size': '200+'}
{'name': 'Test Company', 'organization_size': '200+'}
{'name': 'Testing', 'organization_size': '200+'}
{'name': 'Apollo English Vietnam', 'organization_size': '200+'}
{'name': 'Test', 'organization_size': '200+'}
{'name': 'Show Me', 'organization_size': '200+'}
{'name': "Rooj's Company", 'organization_size': '200+'}
{'name': 'Singapore Internation School', 'organization_size': '200+'}
{'name': 'Furama Resort Da Nang', 'organization_size': '200+'}
{'name': 'Furarma Resort Danang', 'organization_size': '200+'}
{'name': 'Veniam at illum vo', 'organization_size': '11-50'}
{'name': 'Demo Company 2', 'organization_size': '11-50'}
{'name': 'New Company Names', 'organization_size': '11-50'}
{'name': 'Ad officia sed velit', 'organization_size': '11-50'}
{'name': 'Klizo Solutions', 'organization_size': '11-50'}
{'name': 'Demo Company', 'organization_size': '11-50'}
{'name': 'Demo Company Kolkata', 'organization_size': '1-10'}
{'name': 'Einstein Tech', 'organization_size': '1-10'}
{'name': 'Demo Company 4', 'organization_size': '1-10'}
{'name': 'Klizo', 'organization_size': '1-10'}
{'name': 'Demo Company 3', 'organization_size': '1-10'}
{'name': 'Bunny House', 'organization_size': '1-10'}
{'name': 'internal-company', 'organization_size': '1-10'}