In [1]:
import pandas as pd
pd.set_option("display.max_column", None)

In [ ]:
df = pd.read_csv("../../production_data/raw_data_dump/batches.csv")
df.sample(2)

,_id,uploaded_by,company_id,batch_id,batch_name,upload_count,job_id,status,start_time,end_time,type
25,68357acbde4f05c873948b1a,68307b2d0582447f62edadd5,68307b590582447f62edadd8,b'^[[+\x98\xe6]v\x93\xb1\xd1aTf\x1bL',test data 2,1.0,683539efde4f05c873948af9,completed,2025-05-27 08:41:47.497,2025-05-27 08:42:14.361,NaN
36,683d7116c165a9e593e1ec92,6836cd97c165a9e593e1ec52,6835e66bc165a9e593e1ebb1,b'j\rN\x80\x95y\\q\x96\xcfp\x95\xe2\x80\t\xb1',batch.2,1.0,6836cb0ac165a9e593e1ec4e,processing,2025-06-02 09:38:30.606,NaN,NaN

In [ ]:
print("shape: ", df.shape)
print("Columns: ", df.columns)

shape:  (137, 11)
Columns:  Index(['_id', 'uploaded_by', 'company_id', 'batch_id', 'batch_name',
       'upload_count', 'job_id', 'status', 'start_time', 'end_time', 'type'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           137 non-null    object
 1   uploaded_by   137 non-null    object
 2   company_id    137 non-null    object
 3   batch_id      137 non-null    object
 4   batch_name    101 non-null    object
 5   upload_count  101 non-null    float64
 6   job_id        137 non-null    object
 7   status        137 non-null    object
 8   start_time    137 non-null    object
 9   end_time      131 non-null    object
 10  type          100 non-null    object
dtypes: float64(1), object(10)
memory usage: 11.9+ KB