#### Import required packages

In [1]:
import pandas as pd
pd.set_option("display.max_column", None)

#### Read the collection sample as a dataframe/table

In [2]:
df = pd.read_csv("../../../production_data/raw_data_dump/batches.csv")
df.sample(2)

,_id,uploaded_by,company_id,batch_id,batch_name,upload_count,job_id,status,start_time,end_time,type
43,68400c1bb72469b8444e433d,684002c6b72469b8444e4339,683ffda7b72469b8444e4328,b'\xa3\xc4\x7fsy\x05W\xe4\xb2B5ycK+\xb9',Batch.1,1.0,683fff3ab72469b8444e4332,completed,2025-06-04 09:04:27.871,2025-06-04 09:04:57.356,bulk
50,6840951a20ea20e4aca311af,6840927ce3518a909c34f02a,684092c320ea20e4aca311a5,b'\xc2vW\xd2\x8f\xf2Q@\x93\x1b\xa3=L\x8c\x7fd',w,1.0,684092f220ea20e4aca311a8,completed,2025-06-04 18:48:58.156,2025-06-04 18:49:15.286,bulk

#### Inspect the shape and columns

In [3]:
print("shape: ", df.shape)
print("Columns: ", df.columns)

shape:  (196, 11)
Columns:  Index(['_id', 'uploaded_by', 'company_id', 'batch_id', 'batch_name',
       'upload_count', 'job_id', 'status', 'start_time', 'end_time', 'type'],
      dtype='object')

#### Inspect the detail collection info

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           196 non-null    object
 1   uploaded_by   196 non-null    object
 2   company_id    196 non-null    object
 3   batch_id      196 non-null    object
 4   batch_name    158 non-null    object
 5   upload_count  117 non-null    float64
 6   job_id        196 non-null    object
 7   status        196 non-null    object
 8   start_time    196 non-null    object
 9   end_time      190 non-null    object
 10  type          159 non-null    object
dtypes: float64(1), object(10)
memory usage: 17.0+ KB

#### Find out upload counts

In [6]:
df['upload_count'].value_counts()

upload_count
1.0      107
180.0      4
3.0        2
2.0        2
10.0       1
5.0        1
Name: count, dtype: int64

#### Find out type counts

In [7]:
df['type'].value_counts()

type
bulk      80
single    79
Name: count, dtype: int64

#### Find out status counts

In [21]:
df['status'].value_counts()

status
completed     190
processing      6
Name: count, dtype: int64

#### Inspect 'batch_name','upload_count', 'type', 'status' together

In [ ]:
# pd.set_option("display.max_rows", None)

In [16]:
df_result = df[['batch_name','upload_count', 'type', 'status']].sort_values(by=['status','type', 'upload_count'], ascending=True)
df_result.sample(5)

        batch_name  upload_count    type     status
27  Pinion batch 1         180.0     NaN  completed
34               3           1.0     NaN  completed
63      Wp-Careers           NaN  single  completed
95             300           1.0    bulk  completed
56             awe           1.0    bulk  completed

#### Replace upload_count = NaN with 1.0 where batch_name = "Wp-Careers"

In [23]:
import numpy as np
df_copy = df.copy()

df_copy.loc[
    (df['batch_name'] == "Wp-Careers") & (df['upload_count'].isna()),
    'upload_count'
] = 1.0

df_copy = df_copy[df_copy['batch_name'] == "Wp-Careers"]
df_copy[['batch_name','upload_count', 'type', 'status']].sample(5)

     batch_name  upload_count    type     status
69   Wp-Careers           1.0  single  completed
145  Wp-Careers           1.0  single  completed
76   Wp-Careers           1.0  single  completed
65   Wp-Careers           1.0  single  completed
117  Wp-Careers           1.0  single  completed