In [5]:
import pandas as pd
pd.set_option("display.max_column", None)

In [6]:
df = pd.read_csv("../../production_data/raw_data_dump/candidate_questions.csv")
df.sample(2)

,_id,candidate_id,questions,created_at,updated_at
99,683d9b20b72469b8444e42d5,683d9b1c6514282978881ca5,['Given your extensive experience in customer ...,2025-06-02 12:37:52.777,2025-06-02 12:37:52.777
298,684c0a71c939b52e8b71ac02,684c0a6a6f49c875e3fa0510,"[""Can you describe a specific situation at Asi...",2025-06-13 11:24:33.651,2025-06-13 11:24:33.651

In [7]:
print("shape: ", df.shape)
print("Columns: ", df.columns)

shape:  (339, 5)
Columns:  Index(['_id', 'candidate_id', 'questions', 'created_at', 'updated_at'], dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           339 non-null    object
 1   candidate_id  339 non-null    object
 2   questions     339 non-null    object
 3   created_at    339 non-null    object
 4   updated_at    339 non-null    object
dtypes: object(5)
memory usage: 13.4+ KB